<style>
	nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 800px;
		margin: 0.5rem auto 2rem auto;
		padding: 0 1rem;
	}
	nav a{
		text-decoration: none;
		margin-right: 1rem;
	}
	nav a:last-child{
		margin-right: 0;
	}
	nav .logo{
		width: 3rem;
	}
	nav div a img{
		width: 1rem;
	}
</style>
<nav class="d-f ai-c jc-sb mw-45 m-a m_m-l-1 m_m-r-1 m-t-05">
    <a href="/"><img class="logo" src="images/pb_2_.svg"></a>
    <div>
        <a href="contents">contents</a>
        <a href="https://github.com/Paul-Browne"><img src="images/git.svg"></a>
        <a href="https://twitter.com/paulbrownexyz"><img src="images/twit.svg"></a>
        <a href="https://www.instagram.com/paulbrownexyz/"><img src="images/inst.svg"></a>
    </div>
</nav>