h1.hero {
    min-height: 1px;
}

p.ingress {
    min-height: 6px;
    
}

p.ingress:after {
    content: " 6 lines";
}

@media only screen and (max-width: 45em) {
    p.ingress {
        min-height: 9px;
    }
    p.ingress:after {
        content: " 9 lines";
    }
}